* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

body {
  background: #333;
}

:root {
  --blur-color: rgb(57, 113, 185);
  --border-radius: 5px;
  --grey-input: rgb(39, 39, 39);
}